body {
	color:#aaa;
	background:#0e0e0e url('../../assets/body_dark.jpg') 50% 30px no-repeat;
	border-top:5px solid #030303;
}

a {
	color:#eee;
}

p {
	color:#999;
}

pre {
	border:1px solid #111;
}

blockquote {
	text-shadow:1px 1px #000;
}

#top {
	border-bottom:3px solid #1a1a1a;
	border-top:1px solid #0f0f0f;
}

#the_body, .related, .searchform, #comments, #fullwidth {
	background:#171717;
	border:1px solid #202020;
}

#sidebar ul.news_list, #sidebar ul {
	background:#121212;
	border:1px solid #161616;
}

#sidebar ul.news_list li a img {
	background:#111;
}

#the_body h4, #sidebar h4, .related h4, #comments h4, #fullwidth h4 {
	background:url(../../assets/header_stripe_dark.png) center repeat-x;
}

hr {
	background:url('../../assets/border_dark.png') 0 0 repeat-x;
}

.single_post h1 {
	background:url('../../assets/border_dark.png') left bottom repeat-x;
	color:#eee;
}

#about_the_author strong {
	color:#ddd;
}

.category_wise_post ul {
	border-top:3px solid #111;
}

.category_wise_post ul li {
	background:url('../../assets/border_dark.png') left bottom repeat-x;
}

.category_wise_post ul li a, #sidebar ul.news_list li h3 a, .category_wise_post h3 a {
	color:#eee;
}

#nav li a:hover {
	color:#fff;
}

#footer {
	border-top:3px solid #1a1a1a;
	border-bottom:1px solid #111;
}

#sidebar .advt_single img, #header_advert img {
	background:#111;
}

#sidebar h4 span {
	background:#0e0e0e;
}

#the_body h4 span, .related h4 span, #comments h4 span, #fullwidth h4 span {
	background:#171717;
}

#the_body h4, #sidebar h4, .related h4, #comments h4, #fullwidth h4 {
	text-shadow:1px 1px 0px #000;
}

#nav {
	border:1px solid #333;
	-moz-box-shadow: 1px 1px 0px #000;
	-webkit-box-shadow: 1px 1px 0px #000;
	box-shadow: 1px 1px 0px #000;
	
	background:#222;
	background: -moz-linear-gradient(top,#222,#111);
	background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111));
}

#nav li a {
	color:#ccc;
	text-shadow:1px 1px #000;
}

#sidebar ul.news_list li {
	background:url('../../assets/border_dark.png') bottom left repeat-x;
}

#sidebar ul li {
	border-bottom:1px solid #222;
}

#footer, #slider, #topnav ul ul, #footer h4 span, .posts img, #top {
	background:#050505 url('../../assets/stripe_dark.png');
}

#slider img {
	box-shadow:0px 0px 3px 3px #000;
	-webkit-box-shadow: 0px 0px 3px 3px #000;
	-moz-box-shadow: 0px 0px 3px 3px #000;
}

.related a img, #footer ul.news_list img {
	background:#111;
}

img.avatar {
	border:3px solid #111;
}

#respond input, #respond textarea {
	background:#111;
	color:#777;
	border-color:#000 #111 #262626;
}

#respond input#submit {
	border-color:#262626 #111 #000;
	color:#999;
	text-shadow:1px 1px #000;
}

.comtext .stylings {
	background:#0f0f0f;
	border:1px solid #111;
}

.breadcrumb {
	color:#444;
}

.breadcrumb a {
	color:#666;
}

#subfooter {
	background:#030303;
	border-top:1px solid #000;
}

#footer h4 {
	background:url('../../assets/footer_header_dark.png') center repeat-x;
}

.flickr_badge_image a img {
	border:3px solid #111;
}

#nav li a:hover, #nav li a:active, #nav li:hover a, 
#nav li.current-menu-item {
	background:transparent url('../../assets/menu_hover_dark.png') 50% 100% no-repeat;
}

#nav ul ul, #nav ul ul ul {
	background: #353535;
	
	background: -moz-linear-gradient(top,#353535,#111);
	background: -webkit-gradient(linear, left top, left bottom, from(#353535), to(#111));	
	
	border:1px solid #111;
	border-top:1px solid #353535;
}

#nav ul ul li a {
	text-shadow:1px 1px #000;
}

#footer h4 {
	text-shadow:1px 1px #000;
}

.posts_small {
	background:url('../../assets/border_dark.png') left bottom repeat-x;
}
.posts_small img {
	background:#111;
}

.pagination a {
	border:1px solid #111;
	color:#ddd;

	background:#202020;
	
	background: -moz-linear-gradient(top,#202020,#111111);
	background: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#111));
}

p.meta a {
	color:#bbb;
}

#sidebar #twitter_update_list li {
	border-top:1px solid #222;
	border-bottom:1px solid #0c0c0c;
}

#twitter_update_list li:nth-child(1) {
	border-top:0!important;
}

.content_index img {
	background:#111;
}

.main_img {
	background:#111;
}

table {
	border-top:2px solid #111;
	border-bottom:1px solid #111;
}

table th {
	background:#202020;
	color:#aaa;
}

table td {
	border-top:1px solid #222;
	border-bottom:1px solid #111;
}