.uniqadmin { padding:0; margin:10px 30px 50px 20px; width:800px; font:12px/20px  "Helvetica Neue", Helvetica, Arial, sans-serif; }
.uniqadmin .fl { float: left }
.uniqadmin .fr { float: right }
.uniqadmin .clear { clear: both }
.uniqadmin h2 { color:#333; padding:5px 10px; border-bottom:1px solid #ddd!important; }
  .uniqadmin h2 span{ position:absolute; right:15px; top:8px;  color:#cccccc }
    .uniqadmin h2 span a{ color:#cccccc }
	
	.uniqadmin h3 { border-bottom:1px solid #ddd; padding-bottom:5px; }

	.uniqadmin .feature-box {
		display:table-row;
		width:760px;
	}
	
	.uniqadmin .feature-box:nth-child(2n) { 
		background:#f4f4f4;
	}
	
	.feature-box .subheading, .feature-box .options-box {
		display:table-cell;
	}
	
	.feature-box .subheading {
		padding:10px;
		width:200px!important;
	}
	
	.feature-box .options-box {
		padding:10px 20px 10px 5px;
	}
	
	.options-box input, .options-box select, .options-box textarea {
		padding:6px 10px;
		background:#eee;
		color:#888;
	
		border-width:1px;
		border-style:solid;
		border-color:#d9d9d9 #eaeaea white;
	
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
	
		font-size:11px;
		margin-right:15px;
	}
	
	textarea {
		width:500px;
		height:200px;
	}
	
	input.text_input {
		width:280px;
	}
	
	p.description {
		font-size:11px;
	}
	
.updated{ margin:0 0 25px 0; padding:10px; } 

p.submit { clear:both; float:right; margin-right:15px; }
p.submit input { float:right; margin-left:20px; }

