/*
Theme Name: Fananeen.com Theme
Theme URL: http://www.linkedin.com/profile/view?id=77897093&trk=tab_pro
Description: Fananeen.com custom theme
Author: Anas Alhamdan
Author URI: http://www.linkedin.com/profile/view?id=77897093&trk=tab_pro
Version: 1.0
*/



/* --- 1. Imports --- */

@import url('lib/css/reset.css');
@import url('lib/css/superfish.css');


@font-face
{
font-family: GillSans;
src: url('http://fananeen.com/wp-content/themes/widezine/assets/gillsans_light.eot?#iefix') format('embedded-opentype'), url('assets/gillsans_light.ttf') format('truetype');
     
}
body * {
  color:#4B4848;
}
.clear:after, .clearboth {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

strong {
  font-weight: bold;
}

a {
    color: #10a29f;
    text-decoration: none;
}


element.style {
    cursor: auto;
}
body, #wpbody, .form-table .pre, .ui-autocomplete li a {
    color: #333333;
}
body {
    font-family:'GillSans';
	background: #fff;
    color: #666666;
    font-size: 1em;
    line-height: 1.4em;
    min-width: 600px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
  width:1250px;
  margin:0 auto;
}
#fullwidth, #about {
    background: none repeat scroll 0 0 #fff;
    border: 0px solid #FFFFFF;
    margin: 0;
    padding: 15px;
}
#about {
   float: left;
    width: 390px;
    text-align: justify;
    text-transform: uppercase;
    font-size: 13px;
}

.inner, #header, #container, #full_width {
    display: block;
    margin: 0 auto;
    max-width: 1205px;
    min-width: 980px;
}

#logo {
    float: left;
    padding: 43px 0 0px 10px;
}
#topnav {
    border-bottom: 1px solid #C6C6C6;
    margin: 60px 0 3px 10px;
    padding-bottom:   0px;
    width: 740px;
    float: left;
    font-style: normal;
    margin-bottom: 10px;
    text-transform: uppercase;
}


#topnav a, #topnav li.current-menu-item ul a {
			color:#0ea097;
		}
		#topnav li.current_page_item a {
			color:#0ea097;
		}

		#topnav a:hover,
		#topnav li.current-menu-item a,
		#topnav li.current-menu-item ul a:hover {
			color:#0ea097;
		}




#topnav li {
    float: left;
    padding: 0 0px;
    position: relative;
    margin-right: 40px;
}
#topnav li a {
    font-size: 1.03em;
    font-weight: bold;
}
#topnav a, #topnav li.current-menu-item ul a {
    color: #8D8888;
}
.sf-menu {
    line-height: 1;
}
.sf-menu, .sf-menu * {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#featured-paintings {
    float: right;
    margin-left: 30px;
    width: 755px;
}


.posts_small, .artists_small {
    /*background: url("assets/border.png") repeat-x scroll left bottom transparent;*/
    min-height: 210px;
    padding: 15px 0;
    width:215px;
    float:left;
    position: relative;
    float: left;
}
.artists_small {
  min-height: auto;
  background: none;
}
.posts_small img, .artists_small img {
    background: none repeat scroll 0 0 #EEEEEE;
    float: left;
    padding: 0px;
    position: relative;
    max-width: 200px;
    box-shadow: 3px 2px 3px #888888;
}

.artists_small img {
  height: 200px;
  max-width: 200px;
  min-width: 150px;
}

.preloader {
    background: url("assets/loader1.gif") no-repeat scroll center center transparent;
}

.artist-name {
    background-color: #FFFFFF;
    top:135px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    line-height: 9px;
    margin-bottom: 30px;
    margin-left: 0px;
    padding: 6px;
    position: absolute;
    text-align: left;
    max-width: 180px;
    line-height: 19px;

  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";

  /* IE 5-7 */
  filter: alpha(opacity=81);

  /* Netscape */
  -moz-opacity: 0.81;

  /* Safari 1.x */
  -khtml-opacity: 0.81;

  /* Good browsers */
  opacity: 0.81;


}

.artist-name span {
  font-size: 12px;
}

#the_body, .related, #comments {
    background: none repeat scroll 0 0 #EDEDED;
    border: 1px solid #FFFFFF;
    float: left;
    margin-bottom: 20px;
    margin-left: 5px;
    padding: 20px;
    position: relative;
    width: 587px;
    z-index: 1;
}
.related {
  float:left;
  margin-top: 15px;
}

.posts {
    clear: both;
    float: left;
    padding: 10px 0;
    width: 1120px;
}

#the_body, #the_page_body {
  padding: 0px 4px;
  width: 1187px;
  background: none repeat scroll 0 0 #fff;
}
#the_page_body {
  width: 800px;
  float:left;
}

.single_post h1 {
    background: url("assets/border.png") repeat-x scroll left bottom transparent;
    /*color: #111111;*/
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}  
.main_img {
  background: none repeat scroll 0 0 #FFFFFF;
  float: left;
  height: auto;
  padding: 0 10px 0 3px;
  width: 900px;
}


.main_img img {
  box-shadow: 3px 2px 3px #888888;
  display: block;
  margin: 0 auto;
  max-width: 850px;
}  

.zoom {
    background: url("assets/zoom.png") no-repeat scroll 50% 50% transparent;
}

.painting-data {
    float: right;
    padding: 10px;
    width: 182px;
}
.painting-data p {
  text-align: center;
}
.painting-data p span{
  font-weight: bold;
}
.artists-data {
  /*width:450px;*/
  width: :auto;
  /*float:right;*/
  float: left;
  padding:10px;
  padding: 0 6px 0 0;
}


.painting-details {
  background-color: #EDEDED;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  width: 166px;
}  

.painting-details h4 span {
  color: #10a29f;
  margin-bottom: 10px;
  font-weight: bold;
}

.painting-details a {
  background-color: #10A29F;
  color: #FFFFFF;
  display: block;
  left: 1px;
  padding: 5px;
  position: relative;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
}


#the_body h4 span, .related h4 span, #comments h4 span, #fullwidth h4 span {
    /*background: none repeat scroll 0 0 #ededed;*/
    padding: 2px 15px 2px 0;
}

.postform {
  margin-left:15px;
}

.artist-name-single {
      font-size: 19px;
    font-weight: bold;
}


#the_body h4, .related h4, #comments h4, #fullwidth h4, #sidebar h4 {
    /*background: url("assets/header_stripe.png") repeat-x scroll center center transparent;*/
    color: #555555;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 15px;
    text-shadow: -1px -1px 0 #FFFFFF;
    text-transform: uppercase;
}

.related .one_fourth {
    margin-bottom: 20px;
}

.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
    float: right;
    margin-right: 4%;
    position: relative;
}

.one_fourth {
    width: 22%;
}
.related img {
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 3px;
    width: 130px;
}


#footer {
    background: url("assets/border.png") repeat-x scroll left;
    clear: both;
    color: #8C8989;
    margin-top: 30px;
    padding: 35px 0 5px;
    display: none;
}

.margins_fix {
    margin: 0 10px;
}


#subfooter {
    /*background: none repeat scroll 0 0 #1A1A1A;
    border-top: 1px solid #0B0B0B;*/
    padding: 10px 0;
    font-size: 15px;
}

ul.footer_nav {
    float: right;
    margin-top: 2px;
}


ul.footer_nav li:nth-child(1) {
    border-left: 0 none;
}
ul.footer_nav li {
    border-left: 1px solid #222222;
    float: left;
    line-height: 12px;
    padding: 0 10px;
}

ul.footer_nav li a {
    color: #AAAAAA;
    font-size: 12px;
    text-transform: uppercase;
}

.last {
    clear: right;
    margin-right: 0 !important;
}
.one_half {
    /*width: 48%;*/
}

.artist-data {
  width:430px;
  float:left;
}
.artists-data p {
  padding-right: 15px;
  text-align: justify;
}

.artists-paintings{
  float:left;
}

#buy-button:hover {
  color:#fff;
  box-shadow: 3px 2px 3px #888888;

}

img.aligncenter{
  display: block;
  margin:0 auto;
}

#about .mp-form input {
  margin:0 auto;
  display: table-caption;
}


.contact-form label {
    display: inline-block;
    font-weight: 700;
    padding: 2px 0;
}

.contact-form label {
    display: block;
    float: none;
    font-weight: bold;
    margin-bottom: 3px;
}


.mp-form input[type="submit"] {
  width:140px;
}

.contact-form select,
.contact-form input[type="email"],
.contact-form input[type="text"], 
.contact-form input[type="password"] {
    -moz-box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
  background: #f4f4f4;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-bottom-color: #ccc;
  border-radius: 2px;
  margin: 0;
  outline: none;
  padding: 6px 8px;
  vertical-align: middle;
  width: 100%;
}


.contact-form input[type="email"], .contact-form input[type="text"], .contact-form input[type="email"] {
    margin-bottom: 13px;
    width: 300px;
}
.contact-form input[type="email"], .contact-form input[type="text"], input[type="password"] {
    cursor: text;
}

.contact-form area,
.contact-form textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
  background: #f4f4f4;
  box-sizing: border-box;
  background: #f4f4f4;
  border: 1px solid #aaa;
  border-bottom-color: #ccc;
  border-radius: 2px;
  height: auto;
  overflow: auto;
  margin: 0;
  outline: none;
  padding: 8px 10px;
  width: 100%;
}


.contact-form textarea {
    float: none;
    height: 200px;
    margin-bottom: 13px;
    width: 80%;
}
.contact-form input, .contact-form textarea {
    padding: 0.3em 0.4em 0.15em;
}


.contact-form button, 
.contact-form a.button,
.contact-form input[type='reset'], 
.contact-form input[type='button'], 
.contact-form input[type='submit'] {
  -moz-border-radius: 2px;
    -moz-box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.075) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.3) inset, 0pt 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.075) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.3) inset, 0pt 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  background-color: #cdc9c9; /* Snow 3 */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f5f5), to(#cdc9c9));
  background-image: -webkit-linear-gradient(top, #f6f5f5, #cdc9c9);
  background-image: -moz-linear-gradient(top, #f6f5f5, #cdc9c9);
  background-image: -ms-linear-gradient(top, #f6f5f5, #cdc9c9);
  background-image: -o-linear-gradient(top, #f6f5f5, #cdc9c9);
  background-image: linear-gradient(top, #f6f5f5, #cdc9c9);
  box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.075) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.3) inset, 0pt 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #aca6a6;
  border-radius: 2px;
  color: #444;
  cursor: pointer;
  display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f5f5, endColorstr=#cdc9c9);
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  padding: 6px 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  vertical-align: middle;
  white-space: nowrap;
}

.contact-form button:hover, 
.contact-form a.button:hover,
.contact-form input[type='reset']:hover, 
.contact-form input[type='button']:hover, 
.contact-form input[type='submit']:hover {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cdc9c9));
  background-image: -webkit-linear-gradient(top, #fff, #cdc9c9);
  background-image: -moz-linear-gradient(top, #fff, #cdc9c9);
  background-image: -ms-linear-gradient(top, #fff, #cdc9c9);
  background-image: -o-linear-gradient(top, #fff, #cdc9c9);
  background-image: linear-gradient(top, #fff, #cdc9c9);
  border: 1px solid #aca6a6;
  color: #444;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cdc9c9);
}


.fananeen-word {
  color: #0EA097;
  display: inline;
  float: left;
  margin-right: 4px;
  font-size: 17px;
}

#sidebar {
  width:370px;
  float:right;
}

.fb-footer {
  margin-right: 172px;
  float:right;

}
.fb-footer iframe {
  height:22px !important;
}

#twitter-widget-0 {
  width:367px!important;
  height: 200px!important;
  float:right;
}
.contact-ul {
  list-style: disc;
  margin-left: 15px;
}

.about-slides {
  display: none;
}

.about-slide-item {
  list-style: none;
  float:left;
}

.contact-phone img{
  height:30px;
}
.contact-phone span{
  vertical-align: top;
}
